.overview {
    position: relative;
    padding: 131px 0 65px 0;
    margin-bottom: 145px;
    height: 100vh;
}

.video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    object-fit: cover;
}

.position {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.title {
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    text-transform: uppercase;
    font-family: 'Monument Extended', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #EEEEEE;
}

.text-blue {
    background: blue;
}

.cards {
    width: 831px;
    margin: 77px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 277px;
    padding-bottom: 50px;
    margin-bottom: 38px;
    position: relative;
}

.card:hover {
    background-image: url("../../images/card-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.card:hover .card-sirius {
    display: block;
}

.card-img {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.img-index {
    position: relative;
    z-index: 54;
    width: 168px;
}

.card-sirius {
    position: absolute;
    left: 7.4%;
    top: -2%;
    display: none;
}

.title-card {
    display: flex;
    gap: 47px;
    margin: 10px 0 31px 0;
    padding-left: 60px;
    align-items: baseline;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.card-subtitle {
    width: 220px;
    padding-left: 60px;
    text-align: start;
    font-weight: 500;
    font-size: 13px;
    line-height: 131.4%;
}

.pyramid {
    margin-bottom: 31px;
}

.block-button {
    width: 184px;
    margin: auto;
    position: relative;
}

.block-icons {
    margin: auto;
    width: 184px;
    height: 55px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: linear-gradient(204.28deg, rgba(255, 255, 255, 0.093) 37.35%, rgba(255, 255, 255, 0) 98.65%);
    backdrop-filter: blur(100px);
    border-radius: 12px;
}

.button {
    width: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 22px;
    top: -13px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
}


.vertical-menu {
    position: absolute;
    width: 22px;
    height: 360px;
    margin-top: 100px;
    overflow: auto;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.36);
    text-transform: uppercase;
}

.vertical-menu::-webkit-scrollbar {
    width: 0;
}

.menu-active, .active-pages {
    color: #FFFFFF;
}

.left-menu-overview {
    position: relative;
    top: 3%;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    transform: rotate(-90deg);
}

.pages {
    position: absolute;
    left: 0;
    bottom: 4%;
    transform: rotate(-90deg);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.36);
}

.menu-whitespace {
    display: flex;
}

.whitespace-right, .active-pages {
    margin-right: 8px;
}

.point {
    color: #FFFFFF;
    position: relative;
    bottom: 5px;
    font-size: 18px;
}
