.clients {
    padding: 163px 0 123px 0;
    margin-bottom: 145px;
    position: relative;
    height: 100vh;
}

.video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.position {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.clients-content {
    display: flex;
}


.vertical-menu {
    width: 22px;
    height: 360px;
    margin-top: 100px;
    overflow: auto;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.36);
    text-transform: uppercase;
}

.vertical-menu::-webkit-scrollbar {
    width: 0;
}

.menu-active, .active-pages {
    color: #FFFFFF;
}

.left-menu-clients {
    position: relative;
    top: 3%;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    transform: rotate(-90deg);
}

.pages {
    position: absolute;
    left: 0;
    bottom: -10%;
    transform: rotate(-90deg);
}

.menu-whitespace {
    display: flex;
}

.whitespace-right, .active-pages {
    margin-right: 8px;
}

.point {
    color: #FFFFFF;
    position: relative;
    bottom: 5px;
    font-size: 18px;
}


.right-column {
    width: 100%;
    padding-left: 100px;
}

.title1, .title2 {
    font-family: 'Monument Extended', sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    text-transform: uppercase;
}

.title2 {
    padding-left: 65px;
}

.clients-section {
    height: 130px;
    margin: 110px 0 101px 0;
    overflow: auto;
}

.clients-section::-webkit-scrollbar {
    width: 0;
}

.block-clients-1, .block-clients-2, .block-clients-3, .block-clients-4, .block-clients-5, .block-clients-6 {
    display: flex;
    padding-left: 30px;
    margin-bottom: 100px;
}

.block-clients-2 {
    padding-left: 64px;
}

.block-clients-3 {
    padding-left: 206px;
}

.block-clients-4 {
    padding-left: 447px;
}

.block-clients-5 {
    padding-left: 450px;
}

.block-clients-6 {
    padding-left: 309px;
    margin-bottom: 0;
}

.asset {
    width: 153px;
    height: 33px;
}

.woolworths {
    width: 208px;
    height: 49px;
}

.sherlock {
    width: 183px;
    height: 63px;
}

.mbm {
    width: 123px;
    height: 40px;
}

.wt {
    width: 68px;
    height: 53px;
}

.sydney {
    width: 156px;
    height: 55px;
}

.clients-text {
    margin-left: 35px;
}

.clients-title {
    max-width: 642px;
    font-family: 'Monument Extended', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
}

.clients-subtitle {
    width: 390px;
    font-weight: 500;
    font-size: 13px;
    line-height: 131.4%;
    margin-top: 17px;
}

.text-blue {
    background: blue;
}

.block-button {
    width: 184px;
    margin: auto;
    position: relative;
}

.block-icons {
    margin: auto;
    width: 184px;
    height: 55px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: linear-gradient(204.28deg, rgba(255, 255, 255, 0.093) 37.35%, rgba(255, 255, 255, 0) 98.65%);
    backdrop-filter: blur(100px);
    border-radius: 12px;
}

.button {
    width: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 22px;
    top: -13px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
}