.works {
    position: relative;
    padding: 127px 0 40px 0;
}
.video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.position {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.block-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title1, .title2 {
    font-family: 'Monument Extended', sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    text-transform: uppercase;
}

.title2 {
    color: blue;
}

.block-image {
    position: relative;
    margin: 0 5px;
}

.platonic1 {
    position: absolute;
    top: 5px;
}

.sirius {
    width: 80px;
}

.subtract {
    padding-bottom: 10px;
}

.works-content {
    width: 846px;
    margin: auto;
}

.contents-top, .contents-bottom {
    width: 864px;
    display: flex;
}

.box, .box01, .box02, .box03, .box04, .box05, .box06, .box07, .box08, .box09, .box10 {
    width: 148px;
    padding: 10px 0 25px 0;
    border-radius: 9.02336px;
}

.box01 {
    background: linear-gradient(297.18deg, rgba(255, 255, 255, 0.062) -7.6%, rgba(35, 136, 255, 0.2) 88.47%);
    backdrop-filter: blur(80.8001px);
}

.box02 {
    background: linear-gradient(236.49deg, rgba(255, 255, 255, 0.062) 39.78%, rgba(0, 105, 229, 0.2) 74.71%);
    backdrop-filter: blur(80.8001px);
}

.box03 {
    background: linear-gradient(342.92deg, rgba(255, 255, 255, 0) -2.42%, rgba(0, 105, 229, 0.2) 92.23%);
    backdrop-filter: blur(80.8001px);
}

.box04 {
    background: linear-gradient(342.92deg, rgba(255, 255, 255, 0) -2.42%, rgba(0, 105, 229, 0.2) 92.23%);
    backdrop-filter: blur(80.8001px);
}

.box05 {
    background: linear-gradient(204.28deg, rgba(0, 105, 229, 0.2) 10.07%, rgba(255, 255, 255, 0.062) 74.21%, rgba(255, 255, 255, 0) 98.65%);
    backdrop-filter: blur(80.8001px);
}

.box10 {
    background: rgba(0, 117, 255, 0.89);
    backdrop-filter: blur(80.8001px);
}

.box09 {
    background: linear-gradient(204.28deg, rgba(255, 255, 255, 0.062) 74.21%, rgba(255, 255, 255, 0) 98.65%);
    backdrop-filter: blur(80.8001px);
}

.box08 {
    background: linear-gradient(204.28deg, rgba(255, 255, 255, 0.062) 74.21%, rgba(255, 255, 255, 0) 98.65%);
    backdrop-filter: blur(80.8001px);
}

.box07 {
    background: linear-gradient(154.72deg, rgba(255, 255, 255, 0.062) 36.88%, rgba(0, 105, 229, 0.2) 91.9%);
    backdrop-filter: blur(80.8001px);
}

.box06 {
    background: linear-gradient(124.18deg, rgba(255, 255, 255, 0.062) 41.06%, rgba(0, 105, 229, 0.2) 100.05%);
    backdrop-filter: blur(80.8001px);
}

.box-arrow-top {
    padding-top: 50px;
    margin: 0 5px;
}

.box-arrow-bottom {
    padding-top: 100px;
    margin: 0 5px;
}

.box-number {
    font-family: 'Monument Extended', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.45);
    padding-left: 15px;
}

.box-img {
    height: 53px;
    text-align: center;
    margin: 6px 0 15px 0;
}

.box-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 137.4%;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #EEEEEE;
}

.clock {
    position: absolute;
    top: 16px;
    left: 33px;
}

.vector {
    display: flex;
    justify-content: end;
    padding-right: 37px;
    margin: 6px 0;
}

.switch-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 34px 0 58px 0;
}

.switch-left {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    background: linear-gradient(90.9deg, #FFFFFF -80.12%, #0069E5 128.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.switch-right {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.8);
}

.switch {
    display: flex;
    align-items: center;
    margin: 0 64px;
}

.switch-text {
    width: 210px;
    padding-top: 3px;
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.34);
}

.assets-block {
    width: 914px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.assets-title {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #EEEEEE;
    margin-bottom: 30px;
}

.assets-blue {
    background: blue;
}

.block1, .block2, .block3 {
    width: 276px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 137.4%;
    letter-spacing: 0.035em;
    color: #EEEEEE;
    border-radius: 9.02336px;
}

.block1 {
    background: linear-gradient(342.92deg, rgba(255, 255, 255, 0) -2.42%, rgba(0, 105, 229, 0.2) 92.23%);
    backdrop-filter: blur(80.8001px);
}

.block2 {
    background: linear-gradient(204.28deg, rgba(255, 255, 255, 0.062) 74.21%, rgba(255, 255, 255, 0) 98.65%);
    backdrop-filter: blur(80.8001px);
}

.block3 {
    background: rgba(0, 117, 255, 0.89);
    backdrop-filter: blur(80.8001px);
}

.assets-number {
    padding: 15px 0 0 15px;
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.45);
}

.assets-img {
    text-align: center;
}

.assets_folder, .assets_chart, .nout {
    width: 110px;
    height: 95px;
}

.assets-block-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 137.4%;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #EEEEEE;
    margin-top: 30px;
}

.assets-description {
    text-align: center;
    margin: 11px 34px 49px 34px;
}

.traditional-button-block {
    width: 313px;
    margin: 40px auto 0 auto;
    position: relative;
}

.traditional-icons {
    height: 55px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #FFFFFF;
    backdrop-filter: blur(100px);
    border-radius: 12px;
}

.traditional-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    position: absolute;
    right: 34px;
    top: 18px;
    cursor: pointer;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
}

.assets-button-block {
    width: 184px;
    position: relative;
    margin: 40px auto 0 auto;
}

.assets-icons {
    width: 184px;
    height: 55px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #FFFFFF;
    backdrop-filter: blur(100px);
    border-radius: 12px;
}

.assets-button {
    width: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 22px;
    top: -13px;
    cursor: pointer;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
}

.works-vertical-menu {
    position: absolute;
    width: 22px;
    height: 360px;
    margin-top: 100px;
    overflow: auto;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.36);
    text-transform: uppercase;
}

.works-vertical-menu::-webkit-scrollbar {
    width: 0;
}

.menu-active, .active-pages {
    color: #FFFFFF;
}

.left-menu-works {
    position: relative;
    top: 3%;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    transform: rotate(-90deg);
}

.pages {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(-90deg);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.36);
}

.menu-whitespace {
    display: flex;
}

.whitespace-right, .active-pages {
    margin-right: 8px;
}

.point {
    color: #FFFFFF;
    position: relative;
    bottom: 5px;
    font-size: 18px;
    cursor: grab;
}