.works {
    position: relative;
    padding: 127px 0 40px 0;
}
.video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.position {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.block-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title1, .title2 {
    font-family: 'Monument Extended', sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    text-transform: uppercase;
}

.title2 {
    color: blue;
}

.block-image {
    position: relative;
    margin: 0 5px;
}

.platonic1 {
    position: absolute;
    top: 5px;
}

.sirius {
    width: 80px;
}

.slider {
    max-width: 914px;
    margin: auto;
}

.slider-line {
    display: inline-flex;
    transition: all ease 1s;
    position: relative;
    left: 0;
}

.slider-item {
    width: 914px;
}

.subtract {
    background-blend-mode: multiply;
    padding-bottom: 6px;
}
