@import "reset.css";

@font-face {
    font-family: "Monument Extended";
    src: url("../fonts/MonumentExtended-Regular.woff") format('woff'),
    url("../fonts/MonumentExtended-Regular.otf") format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

.container {
    max-width: 1240px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    position: relative;
}

.switch-left-btn, .switch-right-btn {
    position: inherit;
}

.carousel-prev-icon, .carousel-next-icon, .carousel-prev-icon-active, .carousel-next-icon-active {
    width: 13px;
    height: 13px;
}

.carousel-prev-icon {
    background-image: url("../images/arrow-works-gray.svg");
}

.carousel-prev-icon-active {
    background-image: url("../images/arrow-works.svg");
}

.carousel-next-icon {
    background-image: url("../images/arrow-works-right-gray.svg");
}

.carousel-next-icon-active {
    background-image: url("../images/arrow-works-right.svg");
}

