@import "reset.css";

@font-face {
    font-family: "Monument Extended";
    src: url("../fonts/MonumentExtended-Regular.woff") format('woff'),
    url("../fonts/MonumentExtended-Regular.otf") format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

.container {
    max-width: 1240px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    position: relative;
}

.switch-left-btn, .switch-right-btn {
    position: inherit;
}

.carousel-prev-icon, .carousel-next-icon, .carousel-prev-icon-active, .carousel-next-icon-active {
    width: 13px;
    height: 13px;
}

.carousel-prev-icon {
    background-image: url("../images/arrow-works-gray.svg");
}

.carousel-prev-icon-active {
    background-image: url("../images/arrow-works.svg");
}

.carousel-next-icon {
    background-image: url("../images/arrow-works-right-gray.svg");
}

.carousel-next-icon-active {
    background-image: url("../images/arrow-works-right.svg");
}

.top-nav-bg {
    position: absolute;
    z-index: 28;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #020206;
    opacity: 0.8;
}

.top-nav-bg-none {
    display: none;
}

.top-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 35;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 50px;
    padding: 23px 25px 0 25px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 30px;
    right: 25px;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.mobile-menu-title {
    font-family: 'Monument Extended', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 49px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menu > li {
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    font-family: 'Monument Extended', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.68);
    display: flex;
    align-items: center;
    gap: 15px;
}

.mobile-sign-in-active {
    position: absolute;
    bottom: 97px;
    left: 25px;
    z-index: 57;
    color: #FFFFFF;
    display: block;
}

.mobile-sign-in {
    display: none;
}

.mobile-menu-line {
    width: 16px;
    height: 3px;
    background: #0186FD;
}

.works-slide {
    width: 846px;
    margin: auto;
}

@media (max-width: 700px) {

    .top-nav {
        display: flex;
    }
    .menu {
        position: fixed;
        z-index: 18;
        top: 60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 90px 25px 0 25px;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        height: auto;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .carousel-prev-icon, .carousel-prev-icon-active {
       background-image: url("../images/arrow-top-gray.png");
    }
    .carousel-next-icon {
        background-image: url("../images/arrow-bottom-gray.png");
    }
    .switch-left-btn, .switch-right-btn {
        margin: 10px auto;
    }
    .works-slide {
        display: none;
    }
}



